In [67]:
import pandas as pd # importing pandas, numpy, os and json dependencies
import numpy as np
import os
import json

file_path = os.path.join('purchase_data.json') # Defining file path
#file_path = os.path.join('purchase_data2.json')
pymoli_df = pd.read_json(file_path, orient = 'records') # Reading json file
pymoli_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [2]:
Total_Players_df = len(pymoli_df['SN'].value_counts()) # Counting the number of players (SN: Each player with 'Screen Name')
print("Total Number of Players: ", Total_Players_df) # Printing total number of players

Total Number of Players:  573

In [3]:
# *** Purchasing Analysis (Total) ***

In [4]:
Unique_items_df = len(pymoli_df['Item Name'].value_counts()) # Here value_counts() calculate the unique value, count 
print("Number of Unique Items: ",Unique_items_df)

Number of Unique Items:  179

In [5]:
Avg_Purchase_Price = pymoli_df['Price'].mean() # Here mean() calculates the average of 'Price' column
print("Average Purchase Price: ", Avg_Purchase_Price)

Average Purchase Price:  2.931192307692303

In [6]:
Total_purchases = pymoli_df['Price'].count() # Here count() calculates the number of pruchases
print("Total Number of Purchases: ", Total_purchases)

Total Number of Purchases:  780

In [7]:
Total_revenue = pymoli_df['Price'].sum() # Here sum() calculates the sum of 'Price' column
print("Total Revenue: $",Total_revenue)

Total Revenue: $ 2286.3299999999963

In [8]:
# *** Gender Demographics ***

In [9]:
Count_players = pymoli_df['Gender'].value_counts() # Unique value counts of each gender type
Count_male_players = Count_players[0] # Gives count of Male players
Per_male_players = Count_male_players/pymoli_df['Gender'].count()*100 # Percentage of Male players
print("Percentage and Count of Male players:", Per_male_players,"and", Count_male_players) # Printing the respective output

Percentage and Count of Male players: 81.1538461538 and 633

In [10]:
Count_female_players = Count_players[1] # Gives count of Female players
Per_female_players = Count_female_players/pymoli_df['Gender'].count()*100 # Percentage of Female players
print("Percentage and Count of Female players:", Per_female_players,"and", Count_female_players) # Printing the respective outpu

Percentage and Count of Female players: 17.4358974359 and 136

In [11]:
Count_other_players = Count_players[2] # Gives count of Other/Non-disclosed players
Per_other_players = Count_other_players/pymoli_df['Gender'].count()*100 # Percentage of Other/Non-disclosed players
print("Percentage and Count of Other/Non-disclosed players:", Per_other_players,"and", Count_other_players) # Printing the respective outpu

Percentage and Count of Other/Non-disclosed players: 1.41025641026 and 11

In [12]:
# *** Purchasing Analysis (Gender) ***

In [13]:
Purchase_count_groupby = pymoli_df.groupby('Gender')
Purchase_count = Purchase_count_groupby['Price'].count()
ScreenName_count = Purchase_count_groupby['SN'].count()
Avg_purchase_price = Purchase_count_groupby['Price'].mean()
Total_purchase_value = Purchase_count_groupby['Price'].sum()
Normalized_total = Total_purchase_value/ScreenName_count

# Reding 'Data Series' as 'DataFrame'
Purchase_count_df = pd.DataFrame(Purchase_count)
Avg_purchase_Price_df = pd.DataFrame(Avg_purchase_price)
Total_purchase_value_df = pd.DataFrame(Total_purchase_value)
Normalized_total = pd.DataFrame(Normalized_total)

Purchase_count_df # Purchase Count

                       Price
Gender
Female                   136
Male                     633
Other / Non-Disclosed     11

In [14]:
Avg_purchase_Price_df  # Average Purchase Price

                          Price
Gender
Female                 2.815515
Male                   2.950521
Other / Non-Disclosed  3.249091

In [15]:
Total_purchase_value_df # Total Purchase Value

                         Price
Gender
Female                  382.91
Male                   1867.68
Other / Non-Disclosed    35.74

In [16]:
Normalized_total # Normalized Totals

                              0
Gender
Female                 2.815515
Male                   2.950521
Other / Non-Disclosed  3.249091

In [17]:
# *** Age Demographics ***

In [18]:
pymoli_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [55]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 44] # Create bins in which to place values based upon 'Age'
group_labels_age = ["<10", "10 to 14", "15 to 19", "20 to 24",
                    "25 to 29", "30 to 34", "35 to 39", ">40"] # Create labels for these bins
Age_Demographics = pd.cut(pymoli_df['Age'], bins, labels=group_labels_age) # Slice the data and place it into bins
pymoli_df['Age_Demography'] = pd.cut(pymoli_df['Age'], bins, labels=group_labels_age) # Creating a new column to place bin values
pymoli_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age_Demography
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35 to 39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20 to 24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30 to 34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20 to 24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20 to 24

In [56]:
Purchase_count_groupby_Age = pymoli_df.groupby('Age_Demography') # Groupby based on 'Age'

In [57]:
Purchase_count_Age = Purchase_count_groupby_Age['Price'].count() # Calculating 'Purchase Count' based on count()
ScreenName_count_Age = Purchase_count_groupby_Age['SN'].count() # Calculating 'Screen Name Count' based on count()
Avg_purchase_price_Age = Purchase_count_groupby_Age['Price'].mean() # Calculating 'Avg Purchase Price' based on mean()
Total_purchase_value_Age = Purchase_count_groupby_Age['Price'].sum() # Calculating 'Total Purchase Count' based on sum()
Normalized_total_Age = Total_purchase_value_Age/ScreenName_count_Age

In [65]:
Purchase_count_Age_df = pd.DataFrame(Purchase_count_Age) # Reading 'Data Series' as a DataFrame
Purchase_count_Age_df.rename(columns = {'Price': 'Purchase count'}, inplace=True) # Renaming column name
Purchase_count_Age_df.head()

                Purchase count
Age_Demography
<10                         28
10 to 14                    35
15 to 19                   133
20 to 24                   336
25 to 29                   125

In [60]:
Total_purchase_value_Age_df = pd.DataFrame(Total_purchase_value_Age) # Reading 'Data Series' as a DataFrame
Total_purchase_value_Age_df.rename(columns = {'Price': "Total Purchase Val"}, inplace=True) # Renaming column name
Total_purchase_value_Age_df.head()

                Total Purchase Val
Age_Demography
<10                          83.46
10 to 14                     96.95
15 to 19                    386.42
20 to 24                    978.77
25 to 29                    370.33

In [61]:
merge_df_Age1 = pd.merge(Purchase_count_Age_df, Total_purchase_value_Age_df, left_index=True, right_index=True) # Merging two DataFrames
merge_df_Age1.head()

                Purchase count  Total Purchase Val
Age_Demography
<10                         28               83.46
10 to 14                    35               96.95
15 to 19                   133              386.42
20 to 24                   336              978.77
25 to 29                   125              370.33

In [62]:
Avg_purchase_price_Age_df = pd.DataFrame(Avg_purchase_price_Age) # Reading 'Data Series' as DataFrame
Avg_purchase_price_Age_df.rename(columns = {'Price': 'Avg Purchase Price'}, inplace=True) # Renaming column name
Avg_purchase_price_Age_df.head()

                Avg Purchase Price
Age_Demography
<10                       2.980714
10 to 14                  2.770000
15 to 19                  2.905414
20 to 24                  2.913006
25 to 29                  2.962640

In [85]:
Age_Demography_df = pd.merge(merge_df_Age1, Avg_purchase_price_Age_df, left_index=True, right_index=True) # Merging two DataFrames
Age_Demography_df.sort_values(by = ['Avg Purchase Price'], ascending=False).head()

                Purchase count  Total Purchase Val  Avg Purchase Price
Age_Demography
>40                         16               51.03            3.189375
30 to 34                    64              197.25            3.082031
<10                         28               83.46            2.980714
25 to 29                   125              370.33            2.962640
20 to 24                   336              978.77            2.913006

In [ ]:
# *** Top Spenders ***

In [69]:
Groupby_SN = pymoli_df.groupby('SN') # Groupby using 'SN'

In [70]:
Groupby_SN_Total_Purchase_Val = Groupby_SN['Price'].sum() # Calculating total purchase value by using sum()
Total_Pur_df = pd.DataFrame(Groupby_SN_Total_Purchase_Val) # Converting Data series into DataFrame
Total_Pur_df.rename(columns = {'Price': 'Total Purchase Val'}, inplace=True) # Renaming Column Name
Total_Pur_df.head() # Printing top 5 rows of the DataFrame

              Total Purchase Val
SN
Adairialis76                2.46
Aduephos78                  6.70
Aeduera68                   5.80
Aela49                      2.46
Aela59                      1.27

In [71]:
Groupby_SN_Purchase_Count = Groupby_SN['Price'].count() # Calculating Purchase count using count()
Pur_count_df = pd.DataFrame(Groupby_SN_Purchase_Count) # Converting Data series into DataFrame
Pur_count_df.rename(columns = {'Price': 'Purchase Count'}, inplace=True) # Renaming Column Name
Pur_count_df.head() # Printing top 5 rows of the DataFrame

              Purchase Count
SN
Adairialis76               1
Aduephos78                 3
Aeduera68                  3
Aela49                     1
Aela59                     1

In [72]:
Groupby_SN_Avg_Pur_Price = Groupby_SN['Price'].mean() # Calculating Avg purchase price using mean()
Avg_Price_df = pd.DataFrame(Groupby_SN_Avg_Pur_Price) # Converting Data series into DataFrame
Avg_Price_df.rename(columns = {'Price': 'Avg Purchase Price'}, inplace=True) # Renaming Column Name
Avg_Price_df.head() # Printing top 5 rows of the DataFrame

              Avg Purchase Price
SN
Adairialis76            2.460000
Aduephos78              2.233333
Aeduera68               1.933333
Aela49                  2.460000
Aela59                  1.270000

In [73]:
merge_df = pd.merge(Pur_count_df, Avg_Price_df, left_index=True, right_index=True) #Merging two (Pur_count_df & Avg_Price_df) data frames

In [74]:
top_spenders_df = pd.merge(Total_Pur_df, merge_df, left_index=True, right_index=True) #Merging 3rd DataFrame with the above merged DataFrame
top_spenders_df.sort_values(by = ['Total Purchase Val'], ascending=False).head() #Sorting (descending) DataFrame values by 'Total Purchase Val' and listing top 5 rows.

             Total Purchase Val  Purchase Count  Avg Purchase Price
SN
Undirrala66               17.06               5            3.412000
Saedue76                  13.56               4            3.390000
Mindimnya67               12.74               4            3.185000
Haellysu29                12.73               3            4.243333
Eoda93                    11.58               3            3.860000

In [ ]:
# *** Most Popular Items ***

In [75]:
pymoli_df_unique_Item_ID = pymoli_df.drop_duplicates('Item ID') # Removing Duplicates of 'Item ID'
pymoli_df_sort_unique_Item_ID = pymoli_df_unique_Item_ID.sort_values(by = ['Item ID'], ascending=True) # Sorting in the order of 'ascending' for 'Item ID' 
final_iloc = pymoli_df_sort_unique_Item_ID.iloc[0:] # To get the list of all records using 'iloc'
Item_ID_Name_df = final_iloc.set_index('Item ID') # Setting the index of 'Item ID'
Item_ID_on_Index_df = pd.DataFrame(Item_ID_Name_df['Item Name']) # Reading 'Data Series' as 'Data Frame'
Item_ID_on_Index_df.head() # Listing top 5 records in the DataFrame

                  Item Name
Item ID
0                  Splinter
1                  Crucifer
2                   Verdict
3              Phantomlight
4        Bloodlord's Fetish

In [76]:
Item_ID_Name_Series = pymoli_df.groupby('Item ID') # Performing 'groupby' using 'Item ID'
Item_ID_Name_Series_Purchase_count = Item_ID_Name_Series['Price'].count() # Calculating 'Purchase Count' using count()
Item_ID_Name_Purchase_count_df = pd.DataFrame(Item_ID_Name_Series_Purchase_count) # Reading 'Data Series' as 'Data Frame'
Item_ID_Name_Purchase_count_df.rename(columns = {'Price': 'Purchase Count'}, inplace=True) # Renaming the column name
Item_ID_Name_Purchase_count_df.head() # Listing top 5 records in the DataFrame

         Purchase Count
Item ID
0                     1
1                     4
2                     1
3                     1
4                     1

In [77]:
merge_df_1 = pd.merge(Item_ID_on_Index_df, Item_ID_Name_Purchase_count_df, left_index=True, right_index=True) # Merging two DataFrames
merge_df_1.head()

                  Item Name  Purchase Count
Item ID
0                  Splinter               1
1                  Crucifer               4
2                   Verdict               1
3              Phantomlight               1
4        Bloodlord's Fetish               1

In [78]:
Item_ID_Name_Total_purchase_val = Item_ID_Name_Series['Price'].sum() # Calculating 'Total Purchase Value' using sum()
Item_ID_Name_Total_Purchase_Val_df = pd.DataFrame(Item_ID_Name_Total_purchase_val) # Reading 'Data Series' as 'Data Frame'
Item_ID_Name_Total_Purchase_Val_df.rename(columns = {'Price': 'Total Purchase Val'}, inplace=True) # Renaming column name
Item_ID_Name_Total_Purchase_Val_df.head()

         Total Purchase Val
Item ID
0                      1.82
1                      9.12
2                      3.40
3                      1.79
4                      2.28

In [79]:
Item_ID_Name_Avg_Purchase_Val = Item_ID_Name_Series['Price'].mean() # Calculating 'Average Purchase Val' using mean()
Item_ID_Name_Avg_Purchase_Val_df = pd.DataFrame(Item_ID_Name_Avg_Purchase_Val) # Reading 'Dara Series' as 'Data Frame'
Item_ID_Name_Avg_Purchase_Val_df.rename(columns = {'Price': 'Avg Purchase Val'}, inplace=True) # Renaming colum name
Item_ID_Name_Avg_Purchase_Val_df.head()

         Avg Purchase Val
Item ID
0                    1.82
1                    2.28
2                    3.40
3                    1.79
4                    2.28

In [80]:
merge_df_2 = pd.merge(Item_ID_Name_Total_Purchase_Val_df, Item_ID_Name_Avg_Purchase_Val_df, left_index=True, right_index=True) # Merging two different DataFrames
merge_df_2.head()

         Total Purchase Val  Avg Purchase Val
Item ID
0                      1.82              1.82
1                      9.12              2.28
2                      3.40              3.40
3                      1.79              1.79
4                      2.28              2.28

In [81]:
Most_popular_items_df = pd.merge(merge_df_1, merge_df_2, left_index=True, right_index=True) # Final merging of all DataFrames
Most_popular_items_df.sort_values(by = ['Purchase Count'], ascending=False).head() # Sorting 'Purchase Count' values in descending order inorder to list most popular items

,Item Name,Purchase Count,Total Purchase Val,Avg Purchase Val
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",11,25.85,2.35
84,Arcane Gem,11,24.53,2.23
31,Trickster,9,18.63,2.07
175,Woeful Adamantite Claymore,9,11.16,1.24
13,Serenity,9,13.41,1.49

In [83]:
Item_ID_on_Index_df.loc[84] # Cross checking 'Item Name' corresponds to 'Item ID' using 'loc'

Item Name    Arcane Gem
Name: 84, dtype: object

In [ ]:
# *** Most Profitable Items ***

In [82]:
Most_profitable_items_df = pd.merge(merge_df_1, merge_df_2, left_index=True, right_index=True) # Final merging of all DataFrames
Most_profitable_items_df.sort_values(by = ['Total Purchase Val'], ascending=False).head() # Sorting 'Total Purchase Val' in descending order inorder to list most profitable items

,Item Name,Purchase Count,Total Purchase Val,Avg Purchase Val
Item ID,,,,
34,Retribution Axe,9,37.26,4.14
115,Spectral Diamond Doomblade,7,29.75,4.25
32,Orenmir,6,29.70,4.95
103,Singed Scalpel,6,29.22,4.87
107,"Splitter, Foe Of Subtlety",8,28.88,3.61